*{
  margin:0;
}
body{
  background:#ffb0eb;
  font-size:20px;
}
main{
  display:flex;
  justify-content:center;
  /* align-items:center; */
  max-width:100%;
}
article{
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:100%;
  width:900px;
  flex-direction:column;
}
article p{
  margin:1%;
}
.chatContainer {
  font-family: Arial;
  background: none !important;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  border:none !important;
  overflow: hidden;
  position: relative;
  margin: 5px;
  border-radius: 5px;
}
